<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACVsPkaCpVDFqF0VauzTA6fjwlddxd4vg</string>
	<key>GCM_SENDER_ID</key>
	<string>500077980521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.argrealms.calcu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>easycalcu</string>
	<key>STORAGE_BUCKET</key>
	<string>easycalcu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500077980521:ios:bccd3b2fd55dc3e1242bf8</string>
	<key>DATABASE_URL</key>
	<string>https://easycalcu-default-rtdb.firebaseio.com</string>
</dict>
</plist>